html, body {
  height: 100%;
  margin: 0;
  text-align: center;
  overflow: auto;
}

h1{
  margin: 0;
}

html{
  background: url('https://login-assets.goldenmanager.com/production/assets/landing/beta-app-logo-2681f024d9cd7e7503ebd353e8377d01.png') center;
}

body{
  background-color: rgba(white, 0.8);
}
table{
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid;

  th{
    border-bottom: 1px solid;
  }

  tbody{
    tr{
      cursor: pointer;
      &:nth-child(even){
        background-color: #BAC8D9;
      }
      &:nth-child(odd){
        background-color: #BAC8D9;
      }
      &:hover{
        background-color: #D9AF32;
      }
    }
  }

  img{
    width: 70px;
    height: 70px;
  }
}

//SECTIONS
#players{
  table {

  }
}

#player{
  img{
    width: 200px;
    height: 200px;
  }
}