<h1>{{formatedDate}}</h1>
<h2>{{result}}</h2>
<h3>Squad</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Goals</th>
    </tr>
  </thead>
  <tbody>
    {{#each player in players}}
      {{partial "partials/player-row"}}
    {{/each}}
  </tbody>
</table>