<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Goals</th>
    </tr>
  </thead>
  <tbody>
    {{#each player in this}}
      {{partial "partials/player-row"}}
    {{/each}}
  </tbody>
</table>